.horizontalListTitle {
  margin-left: 11rem;
  padding-left: 0;
}

.horizontalList .horizontalListItem:first-child {
  margin-left: 11em;
}

.horizontalListButton {
  right: 2em;
  padding-top: 6px;
}

.horizontalListButton a {
  text-decoration: none;
}
.horizontalListButton a:hover {
  color:#a26a50;
  text-decoration: none;
}

.horizontalListButton a span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.horizontalListItem .CollectionThumbnail {
  opacity: 0.96;
  transition: all 100ms ease-in-out;
}
.horizontalListItem a:hover .CollectionThumbnail {
  opacity: 1;
}

.horizontalListItems.userListItems .CollectionCard {
  max-width: 180px;
}

.horizontalListItems.userListItems .CollectionThumbnail {
  width: 180px;
  max-width: 180px;
  min-width: 180px;
}

.-publicationsList .horizontalListItem {
  margin: 5px 15px;
}

.-publicationsList .CollectionThumbnail {
  height: 360px;
}

.longDescription {
  display: none;
}

header.-showSearch{
  overflow: auto;
  height: 100vh;
}


.-alexandria .cover {
  min-height: 24vh;
}

.-alexandria .cover .coverBackgroundGradient {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),color-stop(30%,rgba(0,0,0,.6)),to(rgba(0,0,0,.8)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.8),rgba(0,0,0,.6) 30%,rgba(0,0,0,.3));
  background: -o-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.3) 100%);
  background: linear-gradient(180deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.3));
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}


.archiveTitle {
  font-size: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Liberation Sans, Noto, sans-serif;
  font-weight: 900;
  letter-spacing: -.1rem;
  line-height: 1;
  margin: 15px 0 30px;
}

.archiveSubtitle {
  font-size: 16px;
}

.headerExternal {
  position: fixed;
}

.headerExternalSiteArchiveTitle {
	font-weight: bold;
}

.headerExternalDefault {
}

.headerExternalDefault .headerExternalSite {
  margin-right: 0rem;
  padding-right: 0;
}

.headerExternal.headroom--not-top {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}

.home .headerExternal .headerExternalSiteArchiveTitle {
}

.headerExternalSiteLogo {
  padding-right: 0;
}

.headerExternal.headroom--not-top .headerExternalSiteArchiveTitle {
  display: block;
}

.headerExternal.headroom--not-top a {
  color: #222;
}

.headerExternal.headroom--not-top.-dark .headerExternalButton svg {
  fill: #222;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.-showSearch.headroom--unpinned,
.-onSearchRoute.headroom--unpinned {
    transform: translateY(0%);
}

.headerExternalSearch button {
  width: 40px;
}

.readingEnvironment p {
	font-family: Cardo, serif;
}

#archiveMap.fullWidthMap {
  height: 660px;
}

.CollectionCardTitle {
  width: 100%;
  display: block;
}

.CollectionCardDescription {
  width: 100%;
  display: block;
}

.-alexandria .cover.-is-archive-cover.-comingSoonCover .coverBackgroundGradient {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.9)),color-stop(30%,rgba(0,0,0,.6)),to(rgba(0,0,0,.9)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,.9),rgba(0,0,0,.6) 30%,rgba(0,0,0,.9));
  background: -o-linear-gradient(top,rgba(0,0,0,.9) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.9) 100%);
  background: linear-gradient(180deg,rgba(0,0,0,.9) 0,rgba(0,0,0,.6) 30%,rgba(0,0,0,.9));
}

.-alexandria .cover.-comingSoonCover {
  min-height:100vh;
  height:100vh;
  align-items: center;
}

.comingSoonPage .footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 20px 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
}

.comingSoonPage .footerCopyright {
  color: rgba(255, 255, 255, 0.8);
}
.comingSoonPage .footerLinks a {
  color: rgba(203, 126, 79, 0.8);
}

.comingSoonPage .headerExternalNav {
  display: none;
}

.comingSoonPage .coverContent {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 990px;
  vertical-align: center;
}

.comingSoonPage .coverContent p {
  margin: 20px auto;
  max-width: 990px;
}

.comingSoonPage .archiveSubtitle {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8) !important;
  margin: 15px auto;
  padding-bottom: 20px;
	// font-family:  Cardo, serif;
}

.comingSoonPage hr {
  background: rgba(255, 255, 255, 0.3);
  height: 5px;
  border: none;
  outline: none;
  width: 100%;
  margin: 30px auto;
  max-width: 120px;
  border-radius: 2px;
}

.alexandriaButton {
  background: #824e2e;
  color: #fff;
  margin: 10px auto;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.alexandriaButton:hover {
  background: #a26a50;
  color: #fff;
}

.headerMenu {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  border-radius: 4px;
  background-color: #fff;
  min-width: 150px;
  position: absolute;
  top: 60px;
  left: -50px;
  text-align: left;
  display:none;
  padding: 0;
}

.headerMenuToggleButton:hover .headerMenu {
  display: block;
}

.headerMenu ul {
  margin:0;
  padding:0;
}

.headerMenu hr {
  margin: 0;
  padding: 0;
  background: #eee;
  height: 1px;
  border: none;
  outline: none;
}

.headerMenu li {
  margin:0;
  padding: 6px 20px;
}

.headerMenu li:hover {
  background: #f6f6f6;
}

.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;

}

.article-body .postContentInner p {
  width: 90%;
  max-width: 720px;

}

.article-content {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: 500px;
  width: 90%;
}

.postHead {
  padding-bottom: 10px;
}

.postHead h1 {
  margin: 10px 0 50px;
}

.postHead hr {
  height: 4px;
  background: #824e2e;
  border: none;
  outline: none;
  margin: 10px 0;
  max-width: 90px;
  width: 90%;
}

.postHead h1, .postHead h4, .postHead label {
  max-width: 800px;
}

.archiveContactDetails p {
    padding: 0;
    margin: 0;
}

.postHead label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.article-byline {
  color: #333;
  padding: 0px 0 30px;
  font-size: 22px;
	font-family: Cardo, serif;
}

em {
  font-style: italic;
}

.tocMenuUpper {
  border-bottom: 1px solid #eee;
}

.tocMenuRow {
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tocMenuRow label {
  font-size: 14px;
  color: #999;
}

.tocMenuRow button {
  color: #222;
  font-size: 12px;
  font-weight: bold;
}

.tocMenuRow button:hover {
  color: #824e2e;
}

.fontSizeButton {
  padding: 5px 0 5px 14px;
}

.littleA {
  font-size: 12px;
}

.bigA {
  font-size: 18px;
}

.tocMenuHeading {
  font-size: 14px;
  color: #999;
  font-weight: normal;
  margin: 0;
  padding: 20px 20px 10px;
}

.tocMenuLoading {
  font-size: 14px;
  color: #999;
  padding: 20px 20px 10px;
  display: block;
}

.tocMenu, .tocMenu ul, .tocMenu li {
  margin: 0;
  padding: 0;
}

.tocMenu a {
  color: #222;
  padding: 6px 24px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.tocMenu a:hover {
  color: #824e2e;
  background: #f6f6f6;
}

.textNodeLocation {
  width: 90px;
}

.textNodeLocation div {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Liberation Sans, Noto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}

.textNode {
  padding: 8px 0;
}

.textNode span {
  font-size: 22px;
  line-height: 1.7em;
}

.ReadingEnv h1,
.ReadingEnv h2,
.ReadingEnv h3,
.ReadingEnv h4,
.ReadingEnv h5,
.ReadingEnv h6 {
  margin-left: 84px;
}

.textLocationOuter a {
  display: inline-block;
  margin: 0 90px;
}

.textLocationOuter a:hover {
  text-decoration: none;
}

.textLocationOuter button {
  display: flex;
  align-items: center;
  justify-content: center;
}


.textLocationOuter i::before {
  font-size: 24px;
}

.textLocationPrev, .textLocationNext {
  margin: 20px 0 60px;
}

#\@\@reading-env\/text {
  padding: 80px 0 20px;

}

.alexandriaButton.-light {
  background: #fff;
  color: #999;
}

.alexandriaButton.-outline {
  border: 2px solid #aaa;
}

.alexandriaButton.-light:hover {
  background: #824e2e;
  color: #fff;
}

.alexandriaButton.-outline:hover {
  border: 2px solid #fff;
}

.ReadingEnv.sidePanelVisible .headerLocation {
  display: none;
}

.sidePanelVisible #\@\@reading-env\/text {
  margin: 0;
  width: 50%;
}

.sidePanelHandleBarGrip {
  width: 5px;
  height: 30vh;
  max-height: 140px;
  min-height: 60px;
  margin: 20px 0px;
  background: #000;
  border-radius: 2px;
  position: absolute;
  left: 6px;
  opacity: 0.9;
}

.ReadingEnv .sidePanelContent h1,
.ReadingEnv .sidePanelContent h2,
.ReadingEnv .sidePanelContent h3,
.ReadingEnv .sidePanelContent h4,
.ReadingEnv .sidePanelContent h5,
.ReadingEnv .sidePanelContent h6 {
  margin: 5px 10px 20px 50px;
  font-size: 22px;
}


.sidePanelContent .textNodeLocation {
  width: 52px;
}

.sidePanelContent .textNode {
  padding: 0;
}

.sidePanelContent .textNode span {
  font-size: 18px;
  line-height: 1.3em;
	font-family: Cardo, serif;
}

.sidePanelContent .textNodeLocation div {
  font-size: 12px;
}

.ReadingEnv {
  background: #fff;
}

.readingEnvLoading {
  background: #eee;
  width: 100vw;
  height: 100vh;
  transition: all 100ms ease-in-out;
  overflow:hidden;
}

.readingEnvLoadingContent {
  padding: 8vh 90px;
  max-width: 600px;
  margin: 0;
}

.readingEnvLoadingHeader, .readingEnvLoadingLine {
  background: #ddd;
  border-radius: 4px;
	animation: animationLoading 1s infinite;
}

.readingEnvLoadingHeader {
  height: 60px;
  width: 50vw;
  margin: 40px 0 60px;
}

.readingEnvLoadingLine {
  height: 30px;
  width: 48vw;
  margin: 40px 10px;
}

.sidePanelForm {
  padding: 20px;
}

.focusText {
	font-family: Cardo, serif;
  font-size: 22px;
  color: #000;
  margin: 20px 0;
}

.ReadingEnv .sidePanelForm h3 {
  margin: 0 0 20px;
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;

}

.sidePanelForm .editor {
  min-height: 60vh;
}
.sidebarFormActionButtons {
  position: fixed;
  display: flex;
  bottom: 20px;
  justify-content: flex-start;
  align-items: center;
}

.commentTitleInput {
  font-size: 42px;
}

.readingEnvNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.sidePanelVisible .readingEnvNavigation {
  width: 50%;
}

.sidePanelVisible .headerExternal {
  display: none;
}

.ReadingEnv .headerTitle {
  padding: 16px 20px;
  font-weight: normal;
}

.ReadingEnv nav>ul {
  margin: 0;
}

.ReadingEnv nav a {
  padding: 16px 20px;
  display: inline-block;
}

.ReadingEnv nav a.workTitle {
  padding-right: 0;
}

.ReadingEnv header button {
  padding: 16px 12px;
}

.commentButton {
  margin-bottom: 6px;
}

.commentIconCount {
  color: #666;
}

.commentButton svg {
  width: 30px;
  height: 30px;
  fill: #999;
}

.commentButton:hover .commentIconCount {
  color: #222;
}

.commentButton:hover svg {
  fill: #444;
}
