@import '../../../../less/variables.import.less';
// @import 'orpheus-styles/src/scss/variables.scss';

.chsEditor {
  font-size: 1.1rem;
  position: relative;
  min-width: 200px;
  min-height: 200px;
}

div[data-block="true"], .public-DraftEditorPlaceholder-root {
	padding: 20px;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 0;
}

.public-DraftEditorPlaceholder-inner {
  color: $color_grey_500;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}


#editor {
  position: relative;
  min-width: 200px;
  min-height: 200px;
	margin: 0px auto;
	padding: 20px 10px;
}

.chsEditor .content {
	line-height: 1.5em;
	font-size: 18px;
	font-family: @font-reading;

	h1 {
		span {
			font-family: @font-title;
		}
	}

	a {
		border-bottom: 3px solid @md-blue-100;
		-webkit-box-shadow: inset 0 -4px 0 @md-blue-100;
		box-shadow: inset 0 -4px 0 @md-blue-100;
	}

	span {
		font-family: @font-reading;
	}
}

div[data-block="true"] {
	padding: 6px 0;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 0;
	padding-top: 10px;
}

.public-DraftEditorPlaceholder-inner {
  color: #999;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}
